<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://yastatic.net/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>

<!--    Навигационная панель вверху     -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <b class="text-white"><span th:text="${userInfo.name}"></span></b>
                <a class="text-white">with roles:</a>
                <a class="text-white">
                    <span th:each="role : ${userInfo.roles}">
                        <span th:text="${role.role}"></span>
                    </span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!--    Начало навигационной панели слева     -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 mt-2">
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
                       role="tab"
                       aria-controls="v-pills-admin" aria-selected="true">
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            Admin
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">
                        <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
                            User
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <!--    Начало навигационной панели справа     -->
        <div class="col bg-light">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#users">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#addUser">New User</a>
                </li>
            </ul>


            <div class="tab-content">

                <!--    Вкладка All users     -->

                <div class="tab-pane fade show active" id="users">
                    <div class="panel-title bg-light">
                        <h3>All users</h3>
                    </div>
                    <table class="table bg-white">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody id="usersTableHere">
                        </tbody>
                    </table>

                </div>

                <!--    Вкладка Add new user     -->

                <div class="tab-pane fade" id="addUser">
                    <div class="panel-title bg-light">
                        <h3>Add new user</h3>
                    </div>
                    <div class='modal-body col-4 offset-3'>

                        <div class="form-group text-center">
                            <label><b>Last Name</b></label>
                            <input type="text" class="form-control" id="newLastname"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-group text-center">
                            <label><b>First Name</b></label>
                            <input type="text" class="form-control" id="newName"
                                   placeholder="Name">
                        </div>
                        <div class="form-group text-center">
                            <label><b>Email</b></label>
                            <input type="text" class="form-control" id="newEmail"
                                   placeholder="Email">
                        </div>
                        <div class="form-group text-center">
                            <label><b>Password</b></label>
                            <input type="password" class="form-control" id="newPassword"
                                   placeholder="Password">
                        </div>


                        <div class="form-group text-center">
                            <label><b>Roles</b></label>
                            <select id="newRoles" class="custom-select" size="2" multiple>
                                <option>ROLE_ADMIN</option>
                                <option selected="selected">ROLE_USER</option>

                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button id="addSubmit" type="submit" class="btn btn-success">Add new user</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT Modal -->

        <div class="modal" id="editUser"
             aria-labelledby="modalEditLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit User</h4>
                        <button type="button" class="close"
                                data-dismiss="modal">×
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class='modal-body col-4 offset-3'>

                            <div class="form-group text-center">
                                <label><b>ID</b></label>
                                <input type="text" class="form-control"
                                       id="idEdit" readonly>
                            </div>

                            <div class="form-group text-center">
                                <label><b>Last name</b></label>
                                <input type="text" class="form-control"
                                       id="lastnameEdit">
                            </div>
                            <div class="form-group text-center">
                                <label><b>First Name</b></label>
                                <input type="text" class="form-control"
                                       id="nameEdit">
                            </div>
                            <div class="form-group text-center">
                                <label><b>Email</b></label>
                                <input type="text" class="form-control" id="emailEdit"
                                >
                            </div>

                            <div class="form-group text-center">
                                <label><b>Roles</b></label>
                                <select id="rolesEdit" class="custom-select" size="2" multiple>
                                    <option>ROLE_ADMIN</option>
                                    <option>ROLE_USER</option>
<!--                            <span th:each="role : ${listRoles}">-->
<!--                                <option th:text="${role.role}"></option>-->
<!--                            </span>-->
                                </select>
                            </div>
                            <!--                            </form>-->
                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button id="modalEditBtn" type="submit" class="btn btn-info" name="id"
                        >Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Modal -->

        <div class="modal" tabindex="-1" role="dialog" id="deleteUser"
             aria-labelledby="modalDeleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete User</h4>
                        <button type="button" class="close"
                                data-dismiss="modal">×
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class='modal-body col-4 offset-3'>

                            <div class="form-group text-center">
                                <label><b>ID</b></label>
                                <input type="text" class="form-control"
                                       id="idDel" readonly>
                            </div>

                            <div class="form-group text-center">
                                <label><b>Last name</b></label>
                                <input type="text" class="form-control"
                                       id="lastnameDel" readonly>
                            </div>
                            <div class="form-group text-center">
                                <label><b>First Name</b></label>
                                <input type="text" class="form-control"
                                       id="nameDel" readonly>
                            </div>
                            <div class="form-group text-center">
                                <label><b>Email</b></label>
                                <input type="text" class="form-control" id="emailDel"
                                       readonly>
                            </div>

                            <div class="form-group text-center">
                                <label><b>Roles</b></label>
                                <select id="rolesDel" class="custom-select" size="2" multiple
                                        disabled>
                                    <option>ROLE_ADMIN</option>
                                    <option>ROLE_USER</option>
<!--                            <span th:each="role : ${listRoles}">-->
<!--                                <option th:text="${role.role}"></option>-->
<!--                            </span>-->
                                </select>
                            </div>

                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button id="modalDeleteBtn" type="submit" class="btn btn-danger" name="id"
                        >Delete
                        </button>
                    </div>

                </div>
            </div>

        </div>


        <script src="js/main.js"></script>
</body>

</html>